[submodule "fei"]
	path = fei
	url = https://github.com/MichellCid/fei.git
[submodule "Poema"]
	path = Poema
	url = https://github.com/MichellCid/Poema.git
[submodule "Documentacion"]
	path = Documentacion
	url = https://github.com/MichellCid/Documentacion.git
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/MichellCid/ordinario-ftw.git
